body {
    background: gray;
}
h2 {
    text-align: center;
    color: white;
    font-weight: bolder;
    margin: 0 auto;
}

span {
    animation-fill-mode: both;
    animation-direction: normal;
    animation-duration: 1.5s;
}

.fadeTextClass > * {
    opacity: 0;
}

@keyframes loadingAnimation {
    0% {
        font-size: inherit;
    }
    50% {
        font-size: xx-large;
    }
    100% {
        font-size: inherit;
    }
}

@keyframes danceColor {
    0% {
        font-size: inherit;
        color: red;
    }
    50% {
        font-size: xx-large;
        color: yellow;
    }
    100% {
        font-size: inherit;
        color: blue;
    }
}

@keyframes fadeText {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 1
    }
}
